{% extends "base.html" %}
{% block content %}

<div class="container mt-5">
	<h5 class="font-italic">
		<strong>GDG Zamboanga Event Data</strong>
	</h5>
	<hr />
	<div class="row mb-3">
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-12 mb-3">
					<h5 class="font-italic">
						Top Attendees
						<small> | <a href="{% url 'event:event-data-attendees' %}">View All</a></small>
					</h5>
				</div>
				{% if top_attendee %}
					{% for attendee in top_attendee %}
						<div class="col-6 mb-3">
							<p style="font-size: .80em;">{{ attendee.member_name|title }} ({{ attendee.num_events }})</p>
						</div>
					{% endfor %}
				{% else %}
					<div class="col-sm-12 mb-3">
						<div class="card">
						  	<div class="card-body">
						    	<p class="card-text font-italic">
						    		No event attendee data available
						    	</p>
						  	</div>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-12 mb-3">
					<h5 class="font-italic">
						Gender Percentage
					</h5>
				</div>
				<div class="col-sm-12 mb-3">
					<canvas id="genderChart" width="200" height="75"></canvas>	
				</div>
			</div>
		</div>
	</div>

	<hr />

	<div class="container mt-5">
		<form method="GET">
			<div class="row text-center mb-3">
				<div class="col-sm-12 mb-3 text-center">
					<h3>List Of GDG Zamboanga Events</h3>
				</div>
					<div class="col-6 col-sm-3">
			  			<div class="form-group row text-center">
			  				<label class="col-sm-2 col-form-label">From</label>
			  				<div class="col-sm-10">
			  					<input type="date" name="from" class="form-control" 
									value="{% if request.GET.from %}{{ request.GET.from }}{% else %}{% now 'Y-m-d' %}{% endif %}">
			  				</div>
			  			</div>
					</div>
					<div class="col-6 col-sm-3">
						<div class="form-group row text-center">
			  				<label class="col-sm-2 col-form-label">To</label>
			  				<div class="col-sm-10">
			  					<input type="date" name="to" class="form-control" 
									value="{% if request.GET.to %}{{ request.GET.to }}{% else %}{% now 'Y-m-d' %}{% endif %}">
			  				</div>
			  			</div>
					</div>
					<div class="col-12 col-sm-3">
						<input type="submit" value="Search" class="btn btn-block btn-dark">
					</div>
				
				<div class="col-sm-3">
					<div class="form-group row">
		  				<label class="col-sm-12 col-form-label">
			  				<strong>{{ event_list.count }} Event(s) was retrieved.</strong>
			  			</label>
		  			</div>
				</div>
			</div>
		</form>
		{% if event_list %}
			<table class="table table-sm">
				<thead>
					<tr>
						<th scope="col" class="text-center">Date</th>
						<th scope="col" class="text-center">Meetup ID</th>
						<th scope="col" class="text-center">Event Name</th>
						<th scope="col" class="text-center">RSVP</th>
						<th scope="col" class="text-center">Manual Count</th>
						<th scope="col" class="text-center">---</th>
					</tr>
				</thead>
				<tbody>
					{% for event in event_list %}
					<tr>
						<td class="text-center">{{ event.date|date:'m/d/Y' }}</td>
						<td class="text-center">{{ event.meetup_ID }}</td>
						<td>
							{{ event.title }}
							<small>
								{% if event.is_past_event %}(Past){% else %}(Upcoming){% endif %}
							</small>
						</td>

						<td class="text-center">{{ event.eventstatistics.yes_rsvp }}</td>
						<td class="text-center">{{ event.eventstatistics.manual_count }}</td>
						<td class="text-center">
							<a data-url="{% url 'event:sync-event-api' event.id %}" 
								data-id="{{event.id}}" href="#" class="syncBtn">
								Sync
							</a>
				      		&nbsp | &nbsp
				      		<a id="eventDetails{{event.id}}" href="{% url 'event:event-data-details' event.id %}">Details</a>
				      		&nbsp | &nbsp
				      		<a href="{% url 'event:event-data-pdf' event.id %}" target="_blank">PDF</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="syncModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body text-center">
				<p>Please wait... Syncing Data.</p>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script type="text/javascript">
	$(".syncBtn").click(function(e) {
		e.preventDefault()
		var detailLink = 'eventDetails' + $(this).attr('data-id')
		console.log(detailLink)
		$('#syncModal').modal('toggle');
	  	$.ajax({
			url: $(this).attr('data-url'),
			data: {},
			success: function(json) {
				console.log(json)
				$('#syncModal').modal('toggle');
				document.getElementById(detailLink).click();
			},
			error: function(err) {
				console.log(err)
				$('#syncModal').modal('toggle');
				document.getElementById(detailLink).click();
			}
		})
	});

	var ctx = document.getElementById("genderChart").getContext('2d');
	var myChart = new Chart(ctx, {
	    type: 'doughnut',
	    data: {
	        labels: ["Girls ({{ gender_percentage.female }}%)", "Boys ({{ gender_percentage.male }}%)"],
	        datasets: [{
	            data: [parseInt("{{ gender_count.female__sum }}"), parseInt("{{ gender_count.male__sum }}")],
	            backgroundColor: [
	                'rgba(255, 99, 132, 0.2)',
	                'rgba(54, 162, 235, 0.2)'
	            ],
	            borderColor: [
	                'rgba(255,99,132,1)',
	                'rgba(54, 162, 235, 1)'
	            ],
	            borderWidth: 2
	        }]
	    },
	    options: {
	        legend: {
	            display: true,
	            position: 'bottom',
	            labels: {
	                fontColor: 'rgb(0, 0, 0)'
	            }
	        },
	        title: {
	        	display: true,
	        	text: 'Out of {{ gender_count.manual_count__sum }} Attendees'
	        }
		}
	});
</script>
{% endblock content %}