{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
	<h5 class="font-italic">
		<strong>{{ event.title }} Event Data</strong>
	</h5>
	<hr />
	<div class="row mb-5">
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-12 mb-3">
					<h5 class="font-italic">
						Event Attendee Count
						<small>| <a href="{% url 'event:event-data-manual-count' event.id %}">Update</a></small>
					</h5>
				</div>
				<div class="col-6 col-sm-4 mb-3">
					<div class="card text-center">
						<div class="card-body">
							<strong class="card-title font-italic">RSVP (Yes)</strong> <br>
							<strong style="font-size: 2em;">{{ event_statistic.yes_rsvp }}</strong>
						</div>
					</div>
				</div>
				<div class="col-6 col-sm-4 mb-3">
					<div class="card text-center">
						<div class="card-body">
							<strong class="card-title font-italic">RSVP (No)</strong> <br>
							<strong style="font-size: 2em;">{{ event_statistic.no_rsvp }}</strong>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-4 mb-3">
					<div class="card text-center">
						<div class="card-body">
							<strong class="card-title font-italic">Manual Count</strong> <br>
							<strong style="font-size: 2em;">{{ event_statistic.manual_count }}</strong>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-12 mb-3">
					<h5 class="font-italic">
						Event Gender Percentage
						<small>| <a href="{% url 'event:event-data-gender-count' event.id %}">Update</a></small>
					</h5>
				</div>
				<div class="col-6 col-sm-6 mb-3">
					<div class="card text-center">
						<div class="card-body pb-2">
							<strong class="card-title font-italic">Male</strong> <br>
							<strong style="font-size: 1.5em;">{{ gender_percentage.male }} %</strong> <br>
							<small class="font-italic">{{ event_statistic.male }} attendees</small>
						</div>
					</div>
				</div>
				<div class="col-6 col-sm-6 mb-3">
					<div class="card text-center">
						<div class="card-body pb-2">
							<strong class="card-title font-italic">Female</strong> <br>
							<strong style="font-size: 1.5em;">{{ gender_percentage.female }} %</strong> <br>
							<small class="font-italic">{{ event_statistic.female }} attendees</small>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<h5 class="font-italic">
		Event Attendance
	</h5>
	<div class="card mt-4">
		<div class="card-body">
			{% if event_attendance %}
			    <div class="row">
		   		{% for member in event_attendance %}
					<div class="col-sm-3">
						<div class="media">
						  	<div class="media-body">
							    <p>{{ member.member_name|title }}</p>
						  	</div>
						</div>
					</div>
				{% endfor %}
				</div>
			{% else %}
			    No Available Attendance Data.
			{% endif %}
		</div>
	</div>
</div>
{% endblock content %}