{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
	<h5><strong class="font-italic">GDG Zamboanga Events</strong></h5>
	<div class="btn-group mt-2" role="group">
	  <a href="{% url 'event:event-upcoming' %}" class="btn btn-sm btn-dark">Upcoming</a>
		<a href="{% url 'event:event-past' %}" class="btn btn-sm btn-dark">Past</a>
	</div>

	{% if request.user.is_authenticated and request.user.useraccount.is_event_creator or request.user.is_superuser %}
		<a href="{% url 'event:event-published' %}" class="btn btn-sm btn-info mt-2">Published</a>
	    <a href="{% url 'event:event-draft' %}" class="btn btn-sm btn-info mt-2">Drafted / Saved</a>
	    <a href="{% url 'event:event-pre-create' %}" class="btn btn-sm btn-info mt-2">Create Event</a>
	{% endif %}

	{% if request.user.is_superuser %}
	    <a href="#" class="btn btn-sm btn-info mt-2">Statistics</a>
	{% endif %}
	<hr />
	{% if event_list.count == 0 %}
		<div class="card">
		  	<div class="card-body">
		    	<p class="card-text font-italic">
		    		Looks like there are no events published yet.
		    	</p>
		  	</div>
		</div>
		<div style="height: 250px;"></div>
	{% else %}
		{% for event in event_list %}
			<div class="card mb-4">
			  	<div class="card-body">
			  		<h5 class="card-title mb-1">
			  			<strong>{{ event.title }}</strong>
			  			<small class="text-muted">
				  			<a 
		  						href="#" 
		  						class="font-weight-bold">
		  						<span class="badge badge-primary">{{ event.feedback_set.count }}</span>
		  					</a>
			  			</small>
			  		</h5>
			  		<small class="text-muted">Posted {{ event.timestamp|timesince }} ago</small>
			    	<p class="card-text mt-3 text-justify">
			    		{{ event.description|truncatechars:350 }}
			    	</p>
	    			<a href="{% url 'event:event-view' event.slug %}" class="btn btn-sm btn-dark">Show More</a>
			   		<a href="{% url 'event:event-update' event.slug %}" class="btn btn-sm btn-dark">Update</a>
			   		<a 
			   			href="#" data-toggle="modal" data-target="#confirmationModal{{event.id}}"
			   			data-backdrop="static" data-keyboard="false" 
			   			class="btn btn-sm btn-danger"
			   		>
			   			Delete
			   		</a>

			   		<!-- Modal -->
					<div class="modal fade" id="confirmationModal{{event.id}}" tabindex="-1" role="dialog">
					  	<div class="modal-dialog modal-dialog-centered" role="document">
					    	<div class="modal-content">
					      		<div class="modal-header">
					        		<h5 class="modal-title">Confirm Event Deletion</h5>
					      		</div>
					      		<div class="modal-body text-center">
					        		Are you sure you want to delete <strong>{{ event.title }}</strong>?
					      		</div>
					      		<div class="modal-footer">
					        		<button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancel</button>
					        		<a href="{% url 'event:event-delete' event.slug %}" class="btn btn-sm btn-danger">Confirm</a>
					      		</div>
					    	</div>
					  	</div>
					</div>
			  	</div>
			</div>
		{% endfor %}
	{% endif %}
</div>
{% endblock content %}