{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5 mb-3">
	<h5 class="font-italic">
		<strong>Event Creation Form</strong>
	</h5>
	<hr />

	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="row">
			<div class="col-sm-6 offset-sm-3">
				<div class="row">
					<div class="col">
						{% if error %}
							<small>
								<div class="alert alert-danger">
								  	{{ error }}
								</div>
							</small>
						{% endif %}
						<div class="form-group">
						    <label for="meetupId">Event Meetup ID</label>
						    <input type="text" class="form-control" id="meetupId" name="meetupId" placeholder="E.g. 258893822" autofocus>
						    <small id="meetupId" class="form-text text-muted">Make sure you have created a MeetUp Event before proceeding. The ID supplied will be used to prepopulate the event creation form.</small>
						</div>
					</div>
					<div class="col-sm-12">
						<button class="btn btn-block btn-dark">Submit</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
{% endblock content %}