{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load event_tags %}
{% block content %}
<div class="container mt-5 mb-3">
	<h5 class="font-italic">
		<strong>Event Creation Form</strong>
	</h5>
	<hr />
	
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="card">
			<div class="card-body">
				<h5 class="card-title font-italic">Event Details</h5>
				<div class="row">
					<div class="col-sm-9">{{ form.title|as_crispy_field }}</div>
					<div class="col-sm-3">{{ form.meetup_ID|as_crispy_field }}</div>
				</div>
				<div class="row">
					<div class="col-sm-12">{{ form.location|as_crispy_field }}</div>
					<div>{{ form.latitude }}</div>
					<div>{{ form.longitude }}</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label>From</label>
							<div class="row">
								<div class="col-sm-6">{{ form.date|as_crispy_field }}</div>
								<div class="col-sm-6">{{ form.time|as_crispy_field }}</div>
							</div>
						</div>
						
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label>To</label>
							<div class="row">
								<div class="col-sm-6">{{ form.date_to|as_crispy_field }}</div>
								<div class="col-sm-6">{{ form.time_to|as_crispy_field }}</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">{{ form.description|as_crispy_field }}</div>
				</div>
			</div>
		</div>
		
		<div class="card mt-3">
			<div class="card-body">
				<h5 class="card-title font-italic">Other Details</h5>
				<div class="row">
					<div class="col-sm-6">{{ form.registration|as_crispy_field }}</div>
					<div class="col-sm-6">
						{{ form.banner|as_crispy_field }}
						{% if photo_url %}
					    <small class="font-italic">
					    	Note: A banner was retrieve via Meetup. Overwrite?
					    	<input type="checkbox" name="overwrite" />
					    </small>
						{% endif %}	
					</div>
					<input type="text" name="meetup_photo_url" value="{{photo_url}}" hidden="True">
				</div>
			</div>
		</div>

		<div class="card mt-3">
			<div class="card-body">
				<h5 class="card-title font-italic">
					Event Speakers 
					<a href="#" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#speakerModal">Add New Speaker</a> <br />
					<small class="text-muted" style="font-size: .75em;">Note: Speakers that are red colored have date conflicts with existing events...</small>
				</h5>

			    <div class="form-check">
					<div class="row" id="speaker-checkgroup">
						{% for speaker in speaker_list %}
							<div class="col-sm-4 mt-3">
								<div class="row">
									<div class="col-1">
										<input type="checkbox" name="speakers" id="option{{speaker.id}}" value={{speaker.id}} />
									</div>
									<div class="col">
										<div class="media">
											{% if not speaker.photo %}
												<img class="mr-3 img-fluid rounded-circle" src="https://res.cloudinary.com/nthnyvllflrs/image/upload/v1550622836/samples/stock-placeholder.jpg" width="60px" height="60px" />
											{% else %}
												<img class="mr-3 img-fluid rounded-circle" src="{{ speaker.photo.url }}" width="60px" height="60px" />
											{% endif %}
										  	<div class="media-body">
										  		{% check_conflict_speaker speaker start_date end_date as conflict %}
											    <strong {% if conflict %}class="text-danger"{% endif %}>{{ speaker.name }}</strong> <br>
												<small>{% if speaker.expertise != '' %}{{ speaker.expertise }}{% else %}{{ speaker.description }}{% endif %}
									  			</small>
										  	</div>
										</div>
									</div>
								</div>
								<!-- <input type="checkbox" name="speakers" id="option{{speaker.id}}" value={{speaker.id}} />
								<label for="speaker{{speaker.id}}">{{speaker.name}}</label> <br>
								<small>({{ speaker.description }})</small> -->
							</div>
						{% endfor %}
					</div>
				</div>
				<hr />
			    <div class="form-check">
					<div class="row" id="member-speaker-checkgroup">
						{% for member in member_list %}
							<div class="col-sm-4 mt-3">
								<div class="row">
									<div class="col-1">
										<input type="checkbox" name="member_speakers" id="option{{member.id}}" value={{member.id}} />
									</div>
									<div class="col">
										<div class="media">
											{% if not member.photo %}
												<img class="mr-3 img-fluid rounded-circle" src="https://res.cloudinary.com/nthnyvllflrs/image/upload/v1550622836/samples/stock-placeholder.jpg" width="60px" height="60px" />
											{% else %}
												<img class="mr-3 img-fluid rounded-circle" src="{{ member.photo.url }}" width="60px" height="60px" />
											{% endif %}
										  	<div class="media-body">
											    <strong>{{ member.name }}</strong> <br>
												<small>{% if member.expertise != '' %}{{ member.expertise }}{% else %}{{ member.description }}{% endif %}
									  			</small>
										  	</div>
										</div>
									</div>
								</div>
								<!-- <input type="checkbox" name="member_speakers" id="option{{member.id}}" value={{member.id}} />
								<label for="member{{member.id}}">{{member.name}}</label> <br>
								<small>({{ member.description }})</small> -->
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

		<div class="card mt-3">
			<div class="card-body">
				<h5 class="card-title font-italic">
					Event Sponsors 
					<a href="#" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#sponsorModal">Add New Sponsor</a>
				</h5>
				
			    <div class="form-check">
					<div class="row" id="sponsor-checkgroup">
						{% for sponsor in sponsor_list %}
							<div class="col-sm-4 mt-3">
								<div class="row">
									<div class="col-1">
										<input type="checkbox" name="sponsors" id="option{{sponsor.id}}" value={{sponsor.id}} />
									</div>
									<div class="col">
										<div class="media">
											{% if not sponsor.photo %}
												<img class="mr-3 img-fluid rounded-circle" src="https://res.cloudinary.com/nthnyvllflrs/image/upload/v1550622836/samples/stock-placeholder.jpg" width="60px" height="60px" />
											{% else %}
												<img class="mr-3 img-fluid rounded-circle" src="{{ sponsor.photo.url }}" width="60px" height="60px" />
											{% endif %}
										  	<div class="media-body">
											    <strong>{{ sponsor.name }}</strong> <br>
												<small>{{ sponsor.description }}</small>
										  	</div>
										</div>
									</div>
								</div>
								<!-- <input type="checkbox" name="sponsors" id="option{{sponsor.id}}" value={{sponsor.id}} />
								<label for="sponsor{{sponsor.id}}">{{sponsor.name}}</label> <br>
								<small>({{ sponsor.description }})</small> -->
							</div>
						{% endfor %}
					</div>
				</div>
				<hr />
			    <div class="form-check">
					<div class="row" id="member-sponsor-checkgroup">
						{% for member in member_list %}
							<div class="col-sm-4 mt-3">
								<div class="row">
									<div class="col-1">
										<input type="checkbox" name="member_sponsors" id="option{{member.id}}" value={{member.id}} />
									</div>
									<div class="col">
										<div class="media">
											{% if not member.photo %}
												<img class="mr-3 img-fluid rounded-circle" src="https://res.cloudinary.com/nthnyvllflrs/image/upload/v1550622836/samples/stock-placeholder.jpg" width="60px" height="60px" />
											{% else %}
												<img class="mr-3 img-fluid rounded-circle" src="{{ member.photo.url }}" width="60px" height="60px" />
											{% endif %}
										  	<div class="media-body">
											    <strong>{{ member.name }}</strong> <br>
												<small>{% if member.expertise != '' %}{{ member.expertise }}{% else %}{{ member.description }}{% endif %}
									  			</small>
										  	</div>
										</div>
									</div>
								</div>
								<!-- <input type="checkbox" name="member_sponsors" id="option{{member.id}}" value={{member.id}} />
								<label for="member{{member.id}}">{{member.name}}</label> <br>
								<small>({{ member.description }})</small> -->
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

		<div class="card mt-3">
			<div class="card-body">
				<h5 class="card-title font-italic">
					Event Volunteers 
					<a href="#" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#volunteerModal">Add New Volunteer</a>
				</h5>
				
			    <div class="form-check">
					<div class="row" id="volunteer-checkgroup">
						{% for volunteer in volunteer_list %}
							<div class="col-sm-4 mt-3">
								<div class="row">
									<div class="col-1">
										<input type="checkbox" name="volunteers" id="option{{volunteer.id}}" value={{volunteer.id}} />
									</div>
									<div class="col">
										<div class="media">
											{% if not volunteer.photo %}
												<img class="mr-3 img-fluid rounded-circle" src="https://res.cloudinary.com/nthnyvllflrs/image/upload/v1550622836/samples/stock-placeholder.jpg" width="60px" height="60px" />
											{% else %}
												<img class="mr-3 img-fluid rounded-circle" src="{{ volunteer.photo.url }}" width="60px" height="60px" />
											{% endif %}
										  	<div class="media-body">
											    <strong>{{ volunteer.name }}</strong> <br>
												<small>{% if volunteer.expertise != '' %}{{ volunteer.expertise }}{% else %}{{ volunteer.description }}{% endif %}
									  			</small>
										  	</div>
										</div>
									</div>
								</div>
								<!-- <input type="checkbox" name="volunteers" id="option{{volunteer.id}}" value={{volunteer.id}} />
								<label for="volunteer{{volunteer.id}}">{{volunteer.name}}</label> <br>
								<small>({{ volunteer.description }})</small> -->
							</div>
						{% endfor %}
					</div>
				</div>
				<hr />
			    <div class="form-check">
					<div class="row" id="member-volunteer-checkgroup">
						{% for member in member_list %}
							<div class="col-sm-4 mt-3">
								<div class="row">
									<div class="col-1">
										<input type="checkbox" name="member_volunteers" id="option{{member.id}}" value={{member.id}} />
									</div>
									<div class="col">
										<div class="media">
											{% if not member.photo %}
												<img class="mr-3 img-fluid rounded-circle" src="https://res.cloudinary.com/nthnyvllflrs/image/upload/v1550622836/samples/stock-placeholder.jpg" width="60px" height="60px" />
											{% else %}
												<img class="mr-3 img-fluid rounded-circle" src="{{ member.photo.url }}" width="60px" height="60px" />
											{% endif %}
										  	<div class="media-body">
											    <strong>{{ member.name }}</strong> <br>
												<small>{% if member.expertise != '' %}{{ member.expertise }}{% else %}{{ member.description }}{% endif %}
									  			</small>
										  	</div>
										</div>
									</div>
								</div>
								<!-- <input type="checkbox" name="member_volunteers" id="option{{member.id}}" value={{member.id}} />
								<label for="member{{member.id}}">{{member.name}}</label> <br>
								<small>({{ member.description }})</small> -->
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

		<div class="row mt-3">
			<div class="col-sm-6 mb-3"><input type="submit" name="Draft" value="Draft" class="btn btn-block btn-dark"></div>
			<div class="col-sm-6 mb-3">
				<a href="#" data-toggle="modal" data-target="#notifyModal" class="btn btn-block btn-success">
					Publish
				</a>
			</div>
			
			<div class="modal fade" id="notifyModal" tabindex="-1" role="dialog">
			  	<div class="modal-dialog modal-dialog-centered" role="document">
			    	<div class="modal-content">
			      		<div class="modal-body text-center">
			        		Do you want to notify site subscribers?
			      		</div>
			      		<div class="modal-footer">
			      			<input type="submit" name="No" value="No" class="btn btn-sm btn-dark">
			      			<input type="submit" name="Yes" value="Yes" class="btn btn-sm btn-success">
			      		</div>
			    	</div>
			  	</div>
			</div>
		</div>
	</form>
</div>

	<!-- Modal Form for Speakers -->
	<div class="modal fade" id="speakerModal" tabindex="-1" role="dialog">
	  	<div class="modal-dialog modal-dialog-centered" role="document">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<h5 class="modal-title">Add New Event Speaker</h5>
	      		</div>
	      		<div class="modal-body">
	      			<form method="POST" id="speaker-form">
		      			<div class="row">
		      				<div class="col-sm-6">{{ speaker_form.firstname|as_crispy_field }}</div>
		      				<div class="col-sm-6">{{ speaker_form.lastname|as_crispy_field }}</div>
		      			</div>
		      			<div class="row">
		      				<div class="col-sm-12">{{ speaker_form.email|as_crispy_field }}</div>
		      			</div>
		      			<div class="row">
		      				<div class="col-sm-12">{{ speaker_form.description|as_crispy_field }}</div>
		      				<div class="col-sm-12">{{ speaker_form.expertise|as_crispy_field }}</div>
		      			</div>
		      			<div class="row">
		      				<div class="col-sm-6">{{ speaker_form.facebook|as_crispy_field }}</div>
		      				<div class="col-sm-6">{{ speaker_form.twitter|as_crispy_field }}</div>
		      			</div>
		      			<div class="row">
		      				<div class="col-sm-6">{{ speaker_form.instagram|as_crispy_field }}</div>
		      				<div class="col-sm-6">{{ speaker_form.website|as_crispy_field }}</div>
		      			</div>
		      			<div class="row">
		      				<div class="col-sm-12">
		      					<input type="submit" name="submit" value="Submit" class="btn btn-block btn-dark">
		      				</div>
		      			</div>
	      			</form>
	      		</div>
	    	</div>
	  	</div>
	</div>

	<!-- Modal Form for Sponsors -->
	<div class="modal fade" id="sponsorModal" tabindex="-1" role="dialog">
	  	<div class="modal-dialog modal-dialog-centered" role="document">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<h5 class="modal-title">Add New Event Sponsor</h5>
	      		</div>
	      		<div class="modal-body">
	      			<form method="POST" id="sponsor-form">
		        		<div class="row">
		      				<div class="col-sm-12">{{ sponsor_form.name|as_crispy_field }}</div>
		      				<div class="col-sm-12">{{ sponsor_form.description|as_crispy_field }}</div>
		      			</div>
		      			<div class="row">
		      				<div class="col-sm-6">{{ sponsor_form.facebook|as_crispy_field }}</div>
		      				<div class="col-sm-6">{{ sponsor_form.twitter|as_crispy_field }}</div>
		      			</div>
		      			<div class="row">
		      				<div class="col-sm-6">{{ sponsor_form.instagram|as_crispy_field }}</div>
		      				<div class="col-sm-6">{{ sponsor_form.website|as_crispy_field }}</div>
		      			</div>
		      			<div class="row">
		      				<div class="col-sm-12">
		      					<input type="submit" name="submit" value="Submit" class="btn btn-block btn-dark">
		      				</div>
		      			</div>
	      			</form>
	      		</div>
	    	</div>
	  	</div>
	</div>

	<!-- Modal Form for Volunteers -->
	<div class="modal fade" id="volunteerModal" tabindex="-1" role="dialog">
	  	<div class="modal-dialog modal-dialog-centered" role="document">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<h5 class="modal-title">Add New Event Volunteer</h5>
	      		</div>
	      		<div class="modal-body">
	      			<form method="POST" id="volunteer-form" enctype="multipart/form-data">
	      				<div class="row">
		      				<div class="col-sm-6">{{ volunteer_form.firstname|as_crispy_field }}</div>
		      				<div class="col-sm-6">{{ volunteer_form.lastname|as_crispy_field }}</div>
		      			</div>
		      			<div class="row">
		      				<div class="col-sm-12">{{ volunteer_form.email|as_crispy_field }}</div>
		      			</div>
		      			<div class="row">
		      				<div class="col-sm-12">{{ volunteer_form.description|as_crispy_field }}</div>
		      				<div class="col-sm-12">{{ volunteer_form.expertise|as_crispy_field }}</div>
		      			</div>
		      			<div class="row">
		      				<div class="col-sm-6">{{ volunteer_form.facebook|as_crispy_field }}</div>
		      				<div class="col-sm-6">{{ volunteer_form.twitter|as_crispy_field }}</div>
		      			</div>
		      			<div class="row">
		      				<div class="col-sm-6">{{ volunteer_form.instagram|as_crispy_field }}</div>
		      				<div class="col-sm-6">{{ volunteer_form.website|as_crispy_field }}</div>
		      			</div>
		      			<div class="row">
		      				<div class="col-sm-12">
		      					<input type="submit" name="submit" value="Submit" class="btn btn-block btn-dark">
		      				</div>
		      			</div>
	      			</form>
	      		</div>
	    	</div>
	  	</div>
	</div>

	<script type="text/javascript">
		function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = jQuery.trim(cookies[i]);
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}

		$('#speaker-form').on('submit', function(event){
		    event.preventDefault();
		    $.ajax({
				url: "{% url 'event:speaker-create-api' %}",
				type: "POST",
				data: {
					'csrfmiddlewaretoken': getCookie('csrftoken'),
					'firstname': $('#speaker-firstname').val(),
					'lastname': $('#speaker-lastname').val(),
					'email': $('#speaker-email').val(),
					'description': $('#speaker-description').val(),
					'expertise': $('#speaker-expertise').val(),
					'facebook': $('#speaker-facebook').val(),
					'twitter': $('#speaker-twitter').val(),
					'instagram': $('#speaker-instagram').val(),
					'website': $('#speaker-website').val(),
				},
				success: function(json) {
					$("#speaker-checkgroup").append("<div class='col-sm-4 mt-3'><div class='row'><div class='col-1'><input type='checkbox' name='speakers' id='option" + json.id + "' value=" + json.id + " checked/></div><div class='col'><div class='media'><img class='mr-3 img-fluid rounded-circle' src='https://res.cloudinary.com/nthnyvllflrs/image/upload/v1550622836/samples/stock-placeholder.jpg' width='60px' height='60px' /><div class='media-body'><strong>" + json.name + "</strong> <br><small>" + json.description + "</small></div></div></div></div></div>");
					$('#speakerModal').modal('toggle');
				},
				error: function(err) {
					console.log(err)
				}
			})
		});

		$('#sponsor-form').on('submit', function(event){
		    event.preventDefault();
		    $.ajax({
				url: "{% url 'event:sponsor-create-api' %}",
				type: "POST",
				data: {
					'csrfmiddlewaretoken': getCookie('csrftoken'),
					'name': $('#sponsor-name').val(),
					'description': $('#sponsor-description').val(),
					'facebook': $('#sponsor-facebook').val(),
					'twitter': $('#sponsor-twitter').val(),
					'instagram': $('#sponsor-instagram').val(),
					'website': $('#sponsor-website').val(),
				},
				success: function(json) {
					$("#sponsor-checkgroup").append("<div class='col-sm-4 mt-3'><div class='row'><div class='col-1'><input type='checkbox' name='sponsors' id='option" + json.id + "' value=" + json.id + " checked/></div><div class='col'><div class='media'><img class='mr-3 img-fluid rounded-circle' src='https://res.cloudinary.com/nthnyvllflrs/image/upload/v1550622836/samples/stock-placeholder.jpg' width='60px' height='60px' /><div class='media-body'><strong>" + json.name + "</strong> <br><small>" + json.description + "</small></div></div></div></div></div>");
					$('#sponsorModal').modal('toggle');
				},
				error: function(err) {
					console.log(err)
				}
			})
		});

		$('#volunteer-form').on('submit', function(event){
		    event.preventDefault();
		    $.ajax({
				url: "{% url 'team:create-volunteer-api' %}",
				type: "POST",
				data: {
					'csrfmiddlewaretoken': getCookie('csrftoken'),
					'firstname': $('#volunteer-firstname').val(),
					'lastname': $('#volunteer-lastname').val(),
					'email': $('#volunteer-email').val(),
					'description': $('#volunteer-description').val(),
					'expertise': $('#volunteer-expertise').val(),
					'facebook': $('#volunteer-facebook').val(),
					'twitter': $('#volunteer-twitter').val(),
					'instagram': $('#volunteer-instagram').val(),
					'website': $('#volunteer-website').val(),
				},
				success: function(json) {
					$("#volunteer-checkgroup").append("<div class='col-sm-4 mt-3'><div class='row'><div class='col-1'><input type='checkbox' name='volunteers' id='option" + json.id + "' value=" + json.id + " checked/></div><div class='col'><div class='media'><img class='mr-3 img-fluid rounded-circle' src='https://res.cloudinary.com/nthnyvllflrs/image/upload/v1550622836/samples/stock-placeholder.jpg' width='60px' height='60px' /><div class='media-body'><strong>" + json.name + "</strong> <br><small>" + json.description + "</small></div></div></div></div></div>");
					$('#volunteerModal').modal('toggle');
				},
				error: function(err) {
					console.log(err)
				}
			})
		});
	</script>
{% endblock content %}