{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
	<h5><strong class="font-italic">GDG Zamboanga Blogs</strong></h5>
	{% if request.user.is_authenticated and request.user.useraccount.is_blog_creator or request.user.is_superuser %}
	  	<a href="{% url 'blog:blog-list' %}" class="btn btn-sm btn-info mt-2">List</a>
	  	<a href="{% url 'blog:blog-published' %}" class="btn btn-sm btn-info mt-2">Published</a>
		<a href="{% url 'blog:blog-draft' %}" class="btn btn-sm btn-info mt-2">Drafted / Saved</a>
		<a href="{% url 'blog:blog-create' %}" class="btn btn-sm btn-info mt-2">Create Blog</a>
		{% if request.user.is_superuser %}
		    <a href="{% url 'blog:blog-waiting' %}" class="btn btn-sm btn-info mt-2">Waiting List</a>
		{% endif %}
	{% endif %}
	<hr />
	{% if blog_list.count == 0 %}
		<div class="card">
		  	<div class="card-body">
		    	<p class="card-text font-italic">
		    		Looks like there are no blogs that are on waiting status. Stay tuned!
		    	</p>
		  	</div>
		</div>
		<div style="height: 250px;"></div>
	{% else %}
		<div class="table-responsive">
			<table class="table table-sm text-center">
				<thead>
				    <tr>
				      	<th scope="col">Blog Title</th>
				      	<th scope="col">Author</th>
				      	<th scope="col">---</th>
				    </tr>
				</thead>
				<tbody>
					{% for blog in blog_list %}
					<tr>
						<td>
							{{ blog.title }}
						</td>
				        <td>
				        	{{ blog.author }}
					    </td>
				        <td>
				        	<a href="{% url 'blog:blog-view' blog.slug %}" class="btn btn-sm btn-dark">Details</a>
				        	<a href="#" data-toggle="modal" data-backdrop="static" data-keyboard="false" 
						    	data-target="#confirmationModal" class="btn btn-sm btn-dark">
								Publish
							</a>

				        	<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" 
						    	data-backdrop="static" data-keyboard="false">
							  	<div class="modal-dialog modal-dialog-centered" role="document">
							    	<div class="modal-content">
							      		<div class="modal-body text-center">
							      			<div class="modal-header">
								        		<h5 class="modal-title">Notify Blog Subscribers?</h5>
								      		</div>
							      		</div>
							      		<div class="modal-footer">
							      			<a href="{% url 'blog:blog-publish' blog.slug 1 %}" class="btn btn-sm btn-success">Yes</a>
							      			<a href="{% url 'blog:blog-publish' blog.slug 0 %}" class="btn btn-sm btn-secondary">No</a>
							      			<button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancel</button>
							      		</div>
							    	</div>
							  	</div>
							</div>
				        </td>
				    </tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}
</div>
{% endblock content %}