{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 mb-3">
	<h5 class="font-italic">
		<strong>{{ blog.title }} Photo Gallery</strong>
	</h5>
	<hr />
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{ photo_formset.as_table }}
		<button type="submit" 
			class="btn btn-block btn-sm btn-dark mt-3" 
			style="letter-spacing: 3px;">
			Upload Photo(s)
		</button>
	</form>
	<hr /> 
	{% if blog.photo_set.all.count == 0 %}
	    <h6 class="font-weight-bold font-italic">No Photo(s) Uploaded</h6>
	{% else %}
		<div class="row mt-3">
			{% for photo in photo_set %}
				<div class="col-sm-3">
					<img src="{{ photo.image.url }}" width="100%" height="250px" class="img-thumbnail"/>
					<a 
						href="#" 
						class="btn btn-block btn-sm btn-danger mt-1"
						data-toggle="modal" data-target="#confirmationModal{{photo.id}}"
					>
						Remove
					</a>
				</div>

				<!-- Modal -->
				<div class="modal fade" id="confirmationModal{{photo.id}}" tabindex="-1" role="dialog">
				  	<div class="modal-dialog modal-dialog-centered" role="document">
				    	<div class="modal-content">
				      		<div class="modal-header">
				        		<h5 class="modal-title">Confirm Blog Photo Deletion</h5>
				      		</div>
				      		<div class="modal-body text-center">
				        		Are you sure you want to delete <strong>Blog Photo</strong>?
				      		</div>
				      		<div class="modal-footer">
				        		<button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancel</button>
				        		<a href="{% url 'blog:blog-photo-delete' photo.blog.slug photo.pk %}" class="btn btn-sm btn-danger">Confirm</a>
				      		</div>
				    	</div>
				  	</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}

	{% if updated %}
        <div class="modal fade" id="updatedModal" tabindex="-1" role="dialog">
		  	<div class="modal-dialog modal-dialog-centered" role="document">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<h5 class="modal-title">Note</h5>
		      		</div>
		      		<div class="modal-body text-center">
		        		<p style="font-size: 1em;">
		        			You've change the content of your blog. Blog status is now back to <strong>waiting</strong> for administrator to review new content.
		        		</p>
		      		</div>
		      		<div class="modal-footer">
		      			<a href="{% url 'blog:blog-photo' blog.slug %}" class="btn btn-sm btn-secondary">Ok</a>
		      		</div>
		    	</div>
		  	</div>
		</div>
        <script>
            $(document).ready(function() {
                $('#updatedModal').modal('show')
            });
        </script>
	{% endif %}
</div>
{% endblock content %}