{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
	<h5><strong class="font-italic">GDG Zamboanga Blogs</strong></h5>
	{% if request.user.is_authenticated and request.user.useraccount.is_blog_creator or request.user.is_superuser %}
  	<a href="{% url 'blog:blog-list' %}" class="btn btn-sm btn-info mt-2">List</a>
  	<a href="{% url 'blog:blog-published' %}" class="btn btn-sm btn-info mt-2">Published</a>
		<a href="{% url 'blog:blog-draft' %}" class="btn btn-sm btn-info mt-2">Drafted / Saved</a>
		<a href="{% url 'blog:blog-create' %}" class="btn btn-sm btn-info mt-2">Create Blog</a>
		{% if request.user.is_superuser %}
		    <a href="{% url 'blog:blog-waiting' %}" class="btn btn-sm btn-info mt-2">Waiting List</a>
		{% endif %}
	{% endif %}
	<hr />
	{% if blog_list.count == 0 %}
		<div class="card">
		  	<div class="card-body">
		    	<p class="card-text font-italic">
		    		Looks like there are no blogs posted yet.
		    	</p>
		  	</div>
		</div>
		<div style="height: 250px;"></div>
	{% else %}
		{% for blog in blog_list %}
			<div class="card mb-4">
			  	<div class="card-body">
			  		<h5 class="card-title mb-1">
			  			<strong>{{ blog.title }}</strong>
			  			<small class="text-muted">
			  			{% if blog.status == 'Publish' %}
				  			<a 
		  						href="{% url 'blog:blog-comment' blog.slug %}" 
		  						class="font-weight-bold">
		  						<span class="badge badge-primary">{{ blog.comment_set.count }}</span>
		  					</a>
		  				{% else %}
		  				    ({{ blog.status}})
			  			{% endif %}
			  			</small>
			  		</h5>
			  		<small class="text-muted">Posted {{ blog.timestamp|timesince }} ago</small>
			    	<p class="card-text mt-3 text-justify">
			    		{{ blog.body|truncatechars:350 }}
			    	</p>
			   		{% if blog.status == 'Draft' or blog.status == 'Waiting' %}
			    		{% if request.user.is_authenticated and request.user.useraccount.is_blog_creator or request.user.is_superuser %}
			    			<a href="{% url 'blog:blog-view' blog.slug %}" class="btn btn-sm btn-dark">Show More</a>
					   		<a href="{% url 'blog:blog-update' blog.slug %}" class="btn btn-sm btn-dark">Update</a>
					   		{% if blog.status == 'Draft' %}
						   		<a href="#" data-toggle="modal" data-backdrop="static" data-keyboard="false" 
							    	data-target="#publishModal{{ blog.id }}" class="btn btn-sm btn-success">
										Publish
									</a>
					   			{% if not request.user.is_superuser %}
										<!-- Modal -->
										<div class="modal fade" id="publishModal{{ blog.id }}" tabindex="-1" role="dialog">
										  	<div class="modal-dialog modal-dialog-centered" role="document">
										    	<div class="modal-content">
										      		<div class="modal-header">
										        		<h5 class="modal-title">Note</h5>
										      		</div>
										      		<div class="modal-body text-center">
										        		<p style="font-size: 1em;">
										        			This blog will not be published yet for it will pass the administrator for content review. Blog status will be set to <strong>waiting</strong>.
										        		</p>
										      		</div>
										      		<div class="modal-footer">
										        		<button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancel</button>
																<a href="{% url 'blog:blog-publish' blog.slug 0 %}" class="btn btn-sm btn-success">Confirm</a>
										      		</div>
										    	</div>
										  	</div>
										</div>
			   			    {% else %}
		   			        <div class="modal fade" id="publishModal{{ blog.id }}" tabindex="-1" role="dialog">
									  	<div class="modal-dialog modal-dialog-centered" role="document">
									    	<div class="modal-content">
									      		<div class="modal-header">
									        		<h5 class="modal-title">Notify Blog Subscribers?</h5>
									      		</div>
									      		<div class="modal-footer">
															<a href="{% url 'blog:blog-publish' blog.slug 1 %}" class="btn btn-sm btn-success">Yes</a>
															<a href="{% url 'blog:blog-publish' blog.slug 0 %}" class="btn btn-sm btn-dark">No</a>
															<button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancel</button>
									      		</div>
									    	</div>
									  	</div>
										</div>
					   			{% endif %}
					   		    
					   		{% endif %}
					   		<a href="#" data-toggle="modal" data-target="#confirmationModal{{blog.id}}"
					   			class="btn btn-sm btn-danger">
					   			Delete
					   		</a>

					   		<!-- Modal -->
							<div class="modal fade" id="confirmationModal{{blog.id}}" tabindex="-1" role="dialog">
							  	<div class="modal-dialog modal-dialog-centered" role="document">
							    	<div class="modal-content">
							      		<div class="modal-header">
							        		<h5 class="modal-title">Confirm Blog Deletion</h5>
							      		</div>
							      		<div class="modal-body text-center">
							        		Are you sure you want to delete <strong>{{ blog.title }}</strong>?
							      		</div>
							      		<div class="modal-footer">
							        		<button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancel</button>
							        		<a href="{% url 'blog:blog-delete' blog.slug %}" class="btn btn-sm btn-danger">Confirm</a>
							      		</div>
							    	</div>
							  	</div>
							</div>
						{% endif %}
			    	{% else %}
				    	<a href="{% url 'blog:blog-view' blog.slug %}" class="btn btn-sm btn-dark">Show More</a>
			    	{% endif %}
			  	</div>
			</div>
		{% endfor %}
	{% endif %}
</div>
{% endblock content %}