{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5 mb-3">
	<h5 class="font-italic">
		<strong>{{ blog.title }} Comment Creation</strong>
	</h5>
	<hr />
	<form method="POST">
	{% csrf_token %}
	<div class="row">
		<div class="col-sm-12">
			{{ comment_form.name|as_crispy_field }}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			{{ comment_form.comment|as_crispy_field }}
		</div>
	</div>
	<button type="submit" class="btn btn-block btn-dark" style="letter-spacing: 3px;">Submit Comment</button>
</form>
</div>
{% endblock content %}