{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-5 mb-3">
	<h5 class="font-italic">
		<strong>User Creation Form</strong>
	</h5>
	<hr />
	<div class="row">
		 <div class="col-sm-6 offset-sm-3">
			<form method="POST">
		    	{% csrf_token %}
		    	{{ useraccount_form|crispy }}
		    	<button type="submit" class="btn btn-block btn-dark mt-3" style="letter-spacing: 3px;">Create User</button>
		    </form>
		</div>
	</div>
</div>
{% endblock content %}