{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5 mb-3">
	<h5 class="font-italic">
		<strong>Site Dynamic Data Form</strong>
	</h5>
	<hr />
	<div class="row">
		 <div class="col-sm-6 offset-sm-3">
			<form method="POST">
				<div class="card">
					<div class="card-body">
						{% csrf_token %}
		    		{{ dynamic_data_form|crispy }}
					</div>
				</div>
		   	<button type="submit" class="btn btn-block btn-dark mt-3" style="letter-spacing: 3px;">Update Dynamic Data</button>
		  </form>
		</div>
	</div>

	{% if success %}
  <div class="modal fade" id="successModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" >
		<div class="modal-dialog modal-dialog-centered" role="document">
	  	<div class="modal-content">
	    		<div class="modal-header">
	      		<h5 class="modal-title">Dynamic Data Successfully Updated</h5>
	    		</div>
	    		<div class="modal-footer">
	    			<a href="{% url 'landing-page' %}" class="btn btn-sm btn-secondary">Ok</a>
	    		</div>
	  	</div>
		</div>
	</div>
  <script>
    $(document).ready(function() {
      $('#successModal').modal('show')
    });
  </script>
	{% endif %}
</div>
{% endblock content %}