{% extends "base.html" %}

{% block content %}
	<div class="container mt-5 mb-3">
		<h5 class="font-italic">
			<strong>GDG Zamboanga Users</strong>
		</h5>
		<a href="{% url 'user:list-user' %}" class="btn btn-sm btn-info mt-2">User List</a>
		<a href="{% url 'user:user-logs' %}" class="btn btn-sm btn-info mt-2">User Logs</a>
		<a href="{% url 'user:subscriber-list' %}" class="btn btn-sm btn-info mt-2">Subscribers</a>
		<hr />

		{% if user_list %}
		<div class="table-responsive">
			<table class="table table-sm text-center">
				<thead>
					<tr>
						<th scope="col">Username</th>
						<th scope="col">Role</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
				{% for user in user_list %}
					<tr>
						<td>{{ user.username }}</td>
						<td>
						{% if user.useraccount.role %}
							{{ user.useraccount.role }}
						{% elif user.subscriber %}
							Subscriber
						{% else %}
							Administrator
						{% endif %}
						</td>
						<td>
							<small><a href="#" data-toggle="modal" data-target="#confirmationModal{{user.id}}">
								Remove
							</a></small>
							<!-- Modal -->
							<div class="modal fade" id="confirmationModal{{user.id}}" tabindex="-1" role="dialog">
							  	<div class="modal-dialog modal-dialog-centered" role="document">
							    	<div class="modal-content">
							      		<div class="modal-header">
							        		<h5 class="modal-title">Confirm User Deletion</h5>
							      		</div>
							      		<div class="modal-body text-center">
							        		Are you sure you want to delete <strong>{{user.username}}</strong>? All related data will also be delete (E.g. Event, Blogs, and Stories)
							      		</div>
							      		<div class="modal-footer">
							        		<button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancel</button>
							        		<a href="{% url 'user:delete-user' user.pk %}" class="btn btn-sm btn-danger">Confirm</a>
							      		</div>
							    	</div>
							  	</div>
							</div>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		{% else %}
		<div class="card">
			<div class="card-body">
				<p class="card-text font-italic">Looks like there are no users aside from the administrator that was added!</p>
			</div>
		</div>
		<div style="height: 250px;"></div>
		{% endif %}
	</div>
{% endblock content %}