{% load user_tags %}

<div class="jumbotron jumbotron-fluid mb-0 mt-5" style="color: white; background-color: #092c30;">
	<div class="container">
		<div class="row">
			<div class="col-sm-3 mt-2">
				<p class="font-weight-bold mb-0">About GDG Zamboanga</p>
				<ul style="list-style: none;padding: 0;font-size: .90em;" class="mb-0">
					<li><a href="{% url 'landing-page' %}" style="color: #FFF;">About</a></li>
					<li><a href="{% url 'event:event-upcoming' %}" style="color: #FFF;">Events</a></li>
					<li><a href="{% url 'blog:blog-list' %}" style="color: #FFF;">Blogs</a></li>
					<li><a href="{% url 'story:story-list' %}" style="color: #FFF;">Stories</a></li>
					<li><a href="{% url 'event:speaker-list' %}" style="color: #FFF;">Speakers</a></li>
					<li><a href="{% url 'event:sponsor-list' %}" style="color: #FFF;">Sponsors</a></li>
					<li><a href="{% url 'team:list-member-volunteer' %}" style="color: #FFF;">Team</a></li>
					<li><a href="#" style="color: #FFF;">Code Of Conduct</a></li>
				</ul>
			</div>
			<div class="col-sm-3 mt-2">
				<div class="row">
					<div class="col-sm-12">
						<p class="font-weight-bold mb-0">Get Involved</p>
						<ul style="list-style: none;padding: 0;font-size: .90em;" class="mb-0">
							<li><a href="{% become_a_sponsor_url %}" target="_blank" style="color: #FFF;">Become a Sponsor</a></li>
							<li><a href="{% become_a_volunteer_url %}" target="_blank" style="color: #FFF;">Become a Volunteer</a></li>
							<li><a href="{% speaker_request_url %}" target="_blank" style="color: #FFF;">Speaker Request</a></li>
						</ul>
					</div>
					<div class="col-sm-12 mt-3">
						<p class="font-weight-bold mb-0">Subscription</p>
						<ul style="list-style: none;padding: 0;font-size: .90em;" class="mb-0">
							<li><a href="{% url 'user:subscribe-user' %}" target="_blank" style="color: #FFF;">Subscribe </a></li>
							<li><a href="{% url 'user:unsubscribe-user' %}" target="_blank" style="color: #FFF;">Unsubscribe</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-3 mt-2">
				<p class="font-weight-bold mb-0">Resources</p>
				<ul style="list-style: none;padding: 0;font-size: .90em;" class="mb-0">
					<li><a href="{% media_kit_url %}" target="_blank" style="color: #FFF;">Media Kit</a></li>
					<li><a href="{% photo_gallery_url %}" target="_blank" style="color: #FFF;">Photo Gallery</a></li>
				</ul>
			</div>
			<div class="col-sm-3 mt-2">
				<p class="font-weight-bold mb-0">Contact Us</p>
				<p>
					<a href="{% google_plus_link %}" target="_blank" style="font-size: 1.5em;color: #FFF;">
						<i class="fab fa-google-plus"></i>
					</a>
					
					<a href="{% facebook_link %}" target="_blank" style="font-size: 1.5em;color: #FFF;">
						<i class="fab fa-facebook-f"></i>
					</a>
					
					<a href="{% twitter_link %}" target="_blank" style="font-size: 1.5em;color: #FFF;">
						<i class="fab fa-twitter"></i>
					</a>
					
					<a href="{% youtube_link %}" target="_blank" style="font-size: 1.5em;color: #FFF;">
						<i class="fab fa-youtube"></i>
					</a>
					
					<a href="{% instagram_link %}" target="_blank" style="font-size: 1.5em;color: #FFF;">
						<i class="fab fa-instagram"></i>
					</a>
					
					<a href="{% meetup_link %}" target="_blank" style="font-size: 1.5em;color: #FFF;">
						<i class="fab fa-meetup"></i>
					</a>
				</p>
				<ul style="list-style: none;padding: 0;font-size: .90em;" class="mb-0">
					{% if request.user.is_authenticated %} 
						{% if request.user.is_superuser %}
							<li><a href="{% url 'user:site-carousel' %}" style="color: #FFF;">Site Carousel</a></li>
						    <li><a href="{% url 'user:dynamic-data' %}" style="color: #FFF;">Change Dynamic Data</a></li>
						{% endif %}
						<li><a href="{% url 'user:change-password-user' %}" style="color: #FFF;">Change Password</a></li>
						<li><a href="{% url 'logout' %}" style="color: #FFF;">Logout ({{ request.user.username }})</a></li>
					{% else %}
						<li><a href="#" style="color: #FFF;" data-toggle="modal" data-target="#exampleModalCenterTitle">Site Developers</a></li>
						<li><a href="{% url 'login' %}" style="color: #FFF;">Site Login</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="exampleModalCenterTitle" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Site Developers</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-12 mb-3">
						<div class="media">
							<img class="mr-3" src="https://res.cloudinary.com/nthnyvllflrs/image/upload/v1561436499/2x2.png" alt="Anthony T. Villaflores" width="64px" height="64px">
							<div class="media-body">
								<h5 class="mt-0 font-weight-bold">Anthony T. Villaflores</h5>
								Programmer
							</div>
						</div>
					</div>
					<div class="col-12 mb-3">
						<div class="media">
							<img class="mr-3" src="#" alt="Rhitchen Hower Bonne M. Wata" width="64px" height="64px">
							<div class="media-body">
								<h5 class="mt-0 font-weight-bold">Rhitchen Hower Bonne M. Wata</h5>
								Archivist
							</div>
						</div>
					</div>
					<div class="col-12">
						<div class="media">
							<img class="mr-3" src="#" alt="Kent John Encilay" width="64px" height="64px">
							<div class="media-body">
								<h5 class="mt-0 font-weight-bold">Kent John Encilay</h5>
								Tester
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
  	<a class="navbar-brand" href="#">
    <!-- <img 
        src="https://raw.githubusercontent.com/gdgphilippines/main-files/master/images/gdg-icon_large.png" 
        style="margin: 10px 0px;" 
        height="20px"
			/> -->
			<img 
      src="https://res.cloudinary.com/nthnyvllflrs/image/upload/v1556144907/GDG%20Zambo%20Defaults/GDG_Logo.png" 
			style="margin: 10px 0px;" 
			height="20px"
    />
    <strong style="letter-spacing: 2px;">GDG Zamboanga</strong>
  </a>
</nav>