{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
	<h5><strong class="font-italic">GDG Zamboanga Stories <small>(Published)</small></strong></h5>
	{% if request.user.is_authenticated and request.user.useraccount.is_blog_creator or request.user.is_superuser %}
		<a href="{% url 'story:story-list' %}" class="btn btn-sm btn-info mt-2">List</a>
  	<a href="{% url 'story:story-published' %}" class="btn btn-sm btn-info mt-2">Published</a>
		<a href="{% url 'story:story-draft' %}" class="btn btn-sm btn-info mt-2">Drafted / Waiting</a>
		<a href="{% url 'story:story-create' %}" class="btn btn-sm btn-info mt-2">Create Story</a>
		{% if request.user.is_superuser %}
	    <a href="{% url 'story:story-waiting' %}" class="btn btn-sm btn-info mt-2">Waiting List</a>
		{% endif %}
	{% endif %}
	<hr />
	{% if story_list.count == 0 %}
		<div class="card">
		  	<div class="card-body">
		    	<p class="card-text font-italic">
		    		Looks like there are no stories published yet.
		    	</p>
		  	</div>
		</div>
		<div style="height: 250px;"></div>
	{% else %}
		{% for story in story_list %}
			<div class="card mb-4">
			  	<div class="card-body">
			  		<h5 class="card-title mb-1">
			  			<strong>{{ story.title }}</strong>
			  		</h5>
			  		<small class="text-muted">Posted {{ story.timestamp|timesince }} ago</small>
			    	<p class="card-text mt-3 text-justify">
			    		{{ story.body|truncatechars:350 }}
			    	</p>
	    			<a href="{% url 'story:story-view' story.slug %}" class="btn btn-sm btn-dark">Show More</a>
			   		<a href="{% url 'story:story-update' story.slug %}" class="btn btn-sm btn-dark">Update</a>
			   		<a 
			   			href="#" data-toggle="modal" data-target="#confirmationModal{{story.id}}"
			   			data-backdrop="static" data-keyboard="false" 
			   			class="btn btn-sm btn-danger"
			   		>
			   			Delete
			   		</a>

			   		<!-- Modal -->
					<div class="modal fade" id="confirmationModal{{story.id}}" tabindex="-1" role="dialog">
					  	<div class="modal-dialog modal-dialog-centered" role="document">
					    	<div class="modal-content">
					      		<div class="modal-header">
					        		<h5 class="modal-title">Confirm Story Deletion</h5>
					      		</div>
					      		<div class="modal-body text-center">
					        		Are you sure you want to delete <strong>{{ story.title }}</strong>?
					      		</div>
					      		<div class="modal-footer">
					        		<button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancel</button>
					        		<a href="{% url 'story:story-delete' story.slug %}" class="btn btn-sm btn-danger">Confirm</a>
					      		</div>
					    	</div>
					  	</div>
					</div>
			  	</div>
			</div>
		{% endfor %}
	{% endif %}
</div>
{% endblock content %}