{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
	<h1>
		<strong>{{ story.title }}</strong>
	</h1>
	<hr />
	<p class="mt-2 text-justify">{{ story.body|linebreaksbr }}</p>

	<h5 class="mt-4 font-italic">
		<strong>Photos</strong>
	</h5>
	<hr />
	{% if story.image_set.all.count == 0 %}
	    <h6 class="font-weight-bold font-italic">No Image(s) Uploaded</h6>
	{% else %}
	    <div class="row">
			{% for image in story.image_set.all %}
				<div class="col-6 col-sm-3 mb-3">
					<img src="{{ image.photo.url }}" width="250px" height="250px" class="img-fluid img-thumbnail"/>
				</div>
			{% endfor %}
		</div>
	{% endif %}

	<h5 class="mt-4 font-italic">
		<strong>Videos</strong>
	</h5>
	<hr />
	{% if not story.video_url %}
	    <h6 class="font-weight-bold font-italic">No Video(s) Uploaded</h6>
	{% else %}
	    <div class="row">
			<div class="col-12">
				<div class="embed-responsive embed-responsive-16by9">
				  	<iframe class="embed-responsive-item" src="{{ story.video_url }}" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	{% endif %}

	<hr />
	<div class="mb-3">
		<small class="text-muted">
			{{ story.author|capfirst }}, Posted {{ story.timestamp|date:"d F Y" }}
		</small> 
		{% if request.user.is_authenticated and request.user == story.author %}
		    | 
			<small>
				<a 
					href="{% url 'story:story-update' story.slug %}" 
					style="font-size: 1em;color: #00F;"
				>
					<i class="fas fa-pencil-alt"></i>
					Edit Story
				</a>
				| 
				<a 
					href="#" data-toggle="modal" data-target="#confirmationModal"
					style="font-size: 1em;color: #00F;"
				>
					<i class="fas fa-trash"></i>
					Delete Story
				</a>
			</small>
			<!-- Modal -->
			<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog">
			  	<div class="modal-dialog modal-dialog-centered" role="document">
			    	<div class="modal-content">
			      		<div class="modal-header">
			        		<h5 class="modal-title">Confirm Story Deletion</h5>
			      		</div>
			      		<div class="modal-body text-center">
			        		Are you sure you want to delete <strong>{{ story.title }}</strong>?
			      		</div>
			      		<div class="modal-footer">
			        		<button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancel</button>
			        		<a href="{% url 'story:story-delete' story.slug %}" class="btn btn-sm btn-danger">Confirm</a>
			      		</div>
			    	</div>
			  	</div>
			</div>
		{% endif %}
	</div>
</div>
{% endblock content %}