{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 mb-3">
	<h5 class="font-italic">
		<strong>{{ story.title }} Image Gallery</strong>
	</h5>
	<hr />
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{ image_formset.as_table }}

		{% if story.status == 'Publish' %}
	    <a href="#" class="btn btn-block btn-sm btn-dark mt-1"
				data-toggle="modal" data-target="#noteModal"
				data-backdrop="static" data-keyboard="false" >
				Upload Image(s)
			</a>
			<!-- Modal -->
			<div class="modal fade" id="noteModal" tabindex="-1" role="dialog">
			  	<div class="modal-dialog modal-dialog-centered" role="document">
			    	<div class="modal-content">
			      		<div class="modal-header">
			        		<h5 class="modal-title">Note</h5>
			      		</div>
			      		<div class="modal-body text-center">
			        		Uploading a new image will set story status to <strong>waiting</strong> for administrator to review new photo(s). Comfirm?
			      		</div>
			      		<div class="modal-footer">
			        		<a href="#" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancel</a>
			        		<button type="submit" class="btn btn-sm btn-success">Confirm</button>
			      		</div>
			    	</div>
			  	</div>
			</div>
		{% else %}
			  <button type="submit" class="btn btn-block btn-sm btn-dark mt-1">Upload Image(s)</button>
		{% endif %}
		
	</form>
	<hr /> 
	{% if story.image_set.all.count == 0 %}
	    <h6 class="font-weight-bold font-italic">No Image(s) Uploaded</h6>
	{% else %}
		<div class="row mt-3">
			{% for image in image_set %}
				<div class="col-6 col-sm-3">
					<img src="{{ image.photo.url }}" width="250px" height="250px" class="img-fluid img-thumbnail"/>
					<a href="#" class="btn btn-block btn-sm btn-danger mt-1"
						data-toggle="modal" data-target="#confirmationModal{{image.id}}"
						data-backdrop="static" data-keyboard="false" >
						Remove
					</a>
				</div>

				<!-- Modal -->
				<div class="modal fade" id="confirmationModal{{image.id}}" tabindex="-1" role="dialog">
				  	<div class="modal-dialog modal-dialog-centered" role="document">
				    	<div class="modal-content">
				      		<div class="modal-header">
				        		<h5 class="modal-title">Confirm Story Image Deletion</h5>
				      		</div>
				      		<div class="modal-body text-center">
				        		Are you sure you want to delete <strong>Story Image ({{ image.id }})</strong>?
				      		</div>
				      		<div class="modal-footer">
				        		<button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancel</button>
				        		<a href="{% url 'story:story-image-delete' story.slug image.id %}" class="btn btn-sm btn-danger">Confirm</a>
				      		</div>
				    	</div>
				  	</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}

	{% if updated %}
        <div class="modal fade" id="updatedModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" >
		  	<div class="modal-dialog modal-dialog-centered" role="document">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<h5 class="modal-title">Note</h5>
		      		</div>
		      		<div class="modal-body text-center">
		        		<p style="font-size: 1em;">
		        			You've change the content of your story. Story status is now back to <strong>waiting</strong> for administrator to review new content.
		        		</p>
		      		</div>
		      		<div class="modal-footer">
		      			<a href="{% url 'story:story-image' %}" class="btn btn-sm btn-secondary">Ok</a>
		      		</div>
		    	</div>
		  	</div>
		</div>
        <script>
            $(document).ready(function() {
                $('#updatedModal').modal('show')
            });
        </script>
	{% endif %}
</div>
{% endblock content %}